.layout-login-container{
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  height: 100vh;
  overflow: auto;
  background-image: url("../../assets/images/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  .login-title{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .login-form{
    width: 368px;
    margin: 0 auto;
  }
  .submit-button{
    width: 100%;
  }
}